// app global css in SCSS form
// make dialog backdrop blur
body {
  color: white;
}

.q-dialog__backdrop
{
    backdrop-filter: blur(10px);
}

.text-p-desktop {
  font-size: 24px;
  font-weight: 500;
}

.text-p-mobile {
  font-size: 16px;
  font-weight: 500;
}

.text-h-desktop-bold {
  font-size: 60px;
  font-weight: bold;
  line-height: 1;
}

.text-h-desktop-extrabold {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
}

.text-h-mobile-extrabold {
  font-size: 25px;
  font-weight: 800;
  line-height: 1;
}

.text-h-mobile-bold {
  font-size: 32px;
  font-weight: bold;
  line-height: 1;
}